server: {
  "ip:": "0.0.0.0",
  "port": 8085,
  "debug": True,
  "appKey": "somethingstrangehere",
  "login_exp": 3600 # Default login expiry
}
mysql: {
  "host": "localhost",
  "user": "dbuser",
  "pass": "password1234",
  "db": "vuedash",
  "port": 3306
}